body {
  background-color: #d5d5d5;
  font-family: sans-serif;
  margin: 0;

  text-align: center;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  text-align: left;
}

#header h1 {
  font-size: 25px;
  line-height: 40px;
  padding: 0 0 0 10px;
  margin: 0;
  font-weight: 300;
}

#pause-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  color: 0;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url('/assets/img/pause.svg');
}

#pause-button:focus {
  outline: 0;
}

#canvas-container {
  position: relative;
  display: inline-block;
  margin-top: 50px;
}

#canvas-container > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#error {
  margin-top: 50px;
  width: 200px;
  padding: 30px;
  color: red;
  background-color: white;
  font-size: 20px;
}

.canvas-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.canvas-overlay h1, .canvas-overlay h2 {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.canvas-overlay h1 {
  top: calc(50% - 25px);
  height: 50px;
  font-size: 30px;
  line-height: 50px;
}

.canvas-overlay h2 {
  top: calc(50% + 25px);
  height: 30px;
  font-size: 20px;
  line-height: 30px;
}

#error, #stats, #pause-button, #game-over-overlay,
#paused-overlay, #resetting-overlay, #connecting-overlay {
  display: none;
}

.state-initializing #connecting-overlay {
  display: block;
}

.state-resetting #resetting-overlay {
  display: block;
}

.state-playing #stats, .state-playing #pause-button {
  display: block;
}

.state-paused #stats, .state-paused #paused-overlay {
  display: block;
}

.state-done #stats, .state-done #game-over-overlay {
  display: block;
}

.state-error #error {
  display: inline-block;
}

.state-error #canvas-container {
  display: none;
}
