<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demoverse {{.name}}</title>

    <script type="application/javascript">
    window.spec = {
      name: "{{.name}}",
      interval: {{.interval}},
    };
    </script>
    <script src="/assets/js/env.js"></script>
    <script src="/assets/js/episode.js"></script>
    <script src="/assets/js/ui.js"></script>

    <link rel="stylesheet" href="/assets/css/play.css" type="text/css">
  </head>
  <body class="state-initializing">
    <div id="header">
      <h1>{{.name}}</h1>
      <button id="pause-button">Pause</button>
    </div>
    <div id="canvas-container"
         style="width: {{.width}}px; height: {{.height}}px">
      <canvas id="canvas" width="{{.width}}" height="{{.height}}">
        Your browser is too out of date.
      </canvas>
      <div id="game-over-overlay" class="canvas-overlay">
        <h1>Game Over</h1>
        <h2>Click to reset</h2>
      </div>
      <div id="paused-overlay" class="canvas-overlay">
        <h1>Game Paused</h1>
        <h2>Click to play</h2>
      </div>
      <div id="resetting-overlay" class="canvas-overlay">
        <h1>Resetting...</h1>
      </div>
      <div id="connecting-overlay" class="canvas-overlay">
        <h1>Connecting...</h1>
      </div>
    </div>
    <br>
    <div id="stats">
      Total reward: <label id="score">0</label>
    </div>
    <div id="error"></div>
  </body>
</html>
